<header>
    <nav class="navbar navbar-expand-lg navbar-primary bg-primary static-top">
      <div class="container">
        <a class="navbar-brand" href="#">
          <a class="nav-link active" [routerLink]="['/home-funcionario']">Home</a>
        </a>
        <a class="navbar-brand" href="#">
          <a class="nav-link active" [routerLink]="['/funcionario/pedidos']">Lista de Pedidos</a>
        </a>
        <a class="navbar-brand" href="#">
          <a class="nav-link active" [routerLink]="['/funcionario/produtos']">Produtos</a>
        </a>
        <a class="navbar-brand" href="#">
          <a class="nav-link active" [routerLink]="['/funcionario/funcionarios']">Funcionarios</a>
      </a>
      <a class="navbar-brand" href="#">
        <a class="nav-link active" [routerLink]="['/funcionario/relatorio']">Relatorios</a>
      </a>
      <div class="idlogout">
        <span *ngIf="GetusuarioLogado"> {{GetusuarioLogado.nome}}</span>
        <a class="nav-link active" href="#" (click)="logout()">Sair</a>
    </div>
      </div>
    </nav>
  </header>