<main>
    <div class="pendentes">
      <select id="st_pedidos" class="form-select mb-4">
        <option value="todos">Todos</option>
        <option value="hoje" type="data-bs-dismiss">Pedidos de Hoje</option>
        <option value="data" type="Data">Por Data</option>
        <input id="inicio" class="data_inicio" type="date"> <label placeholder="Data Inicio" for="datainicio"></label>
        <input id="fim" class="data_fim"type="date"> <label placeholder="Data Fim" for="datafim"></label>
      </select>

      <div class="container">
        <div class="table-wrap">
          <table nome="tabelap" class="table" id="tabelap">
            <thead>
              <tr>
                <th scope="col">Pedido</th>
                <th scope="col">Data</th>
                <th scope="col">Valor</th>
                <th scope="col">Status</th>
                <th scope="col">Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </main>