<nav class="navbar navbar-expand-lg navbar-primary bg-primary static-top">
    <div class="container">
        <a class="nav-link active" [routerLink]="['/home-cliente']">Home</a>
        <a class="nav-link active" [routerLink]="['/cliente/pedidos']">Lista de Pedidos</a>
        <a class="nav-link active" [routerLink]="['/cliente/pedido']">Consultar Pedido</a>
        <a class="nav-link active" [routerLink]="['/novo-pedido']">Realizar Pedido</a>
        <div class="idlogout">
        <span *ngIf="GetusuarioLogado"> {{GetusuarioLogado.nome}}</span>
        <a class="nav-link active" href="#" (click)="logout()">Sair</a>
    </div>
    </div>
</nav>
