<app-navbar-funcionario></app-navbar-funcionario>
<main>
    <div class="container">
      <div class="my-2">
        <button (click)="abrirModalProduto()" class="btn btn-success" id="nv_produto" type="button">Cadastrar Produto</button>
      </div>
      <div class="table-wrap">
        <table nome="tabelapr" class="table" id="tabelapr">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Nome</th>
              <th scope="col">Valor</th>
              <th scope="col">Prazo</th>
              <th scope="col">Ações</th>
              <button  (click)="abrirModalProduto()" class="btn btn-success" id="nv_produto" type="button">Cadastrar Produto</button>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let produto of produtos">
              <td> {{produto.id}}</td>
              <td> {{produto.nome}} </td>
              <td> {{produto.valor}}</td>
              <td> {{produto.prazo}}</td>
              <td> 
                <button (click)="abrirModalProduto(produto)" class="btn btn-success" id="nv_produto" type="button">Editar</button> 
                <button (click)="removerProduto(produto)" class="btn btn-danger ms-2"type="button">Remover</button> 
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</main>
