<app-navbar-funcionario></app-navbar-funcionario>
<main>
    <div class="container">
      <div class="my-2">
        <button (click)="abrirModalProduto()" class="btn btn-success" id="nv_produto" type="button">Cadastrar Produto</button>
      </div>
      <div class="table-wrap">
        <table nome="tabelapr" class="table" id="tabelapr">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Nome</th>
              <th scope="col">Valor</th>
              <th scope="col">Prazo</th>
              <th scope="col">Ações</th>
              <button  (click)="abrirModalProduto()" class="btn btn-success" id="nv_produto" type="button">Cadastrar Produto</button>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let produto of produtos">
              <td> {{produto.id}}</td>
              <td> {{produto.nome}} </td>
              <td> {{produto.valor}}</td>
              <td> {{produto.prazo}}</td>
              <td> 
                <button (click)="abrirModalProduto(produto)" class="btn btn-success" id="nv_produto" type="button">Editar</button> 
                <button (click)="removerProduto(produto)" class="btn btn-danger ms-2"type="button">Remover</button> 
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>




<div>
  
</div>
<div>
  <!-- <button  (click)="abrirModalProduto({id: ""})" class="btn btn-success" id="nv_produto" type="button">Editar Produto</button> -->
</div>

<!-- Modal - Detalhes de Pedido -->
<div class="modal fade" id="modal_prod" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Detalhes do Pedido</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form #formProduto="ngForm">
              <div class="row">
                <div class="col-md-6">
                  <label for="">nome</label>
                    <input [(ngModel)]="produto.nome" #nome="ngModel" name="senha" type="text" class="form-control form-control-lg" required minlength="1" maxlength="20"/>
                    <div *ngIf="nome.errors && (nome.dirty || nome.touched)" class="alert alert-danger">
                      <div> Digite um nome</div>
                    </div>
                    <!-- <input type="text" name="" id="nome"> -->
                </div>
                <div class="col-md-6">
                  <input [(ngModel)]="produto.valor" #preco="ngModel" name="preco" type="text"  class="form-control form-control-lg" required />
                    <div *ngIf="preco.errors && (preco.dirty || preco.touched)" class="alert alert-danger">
                      <div> Digite o preço</div>
                    </div>
                  <!-- <label for="">preco</label>
                  <input type="text" name="" id="preco"> -->
                </div>
                <div class="col-md-6">
                  <label for="">Prazo</label>
                  <input [(ngModel)]="produto.prazo" #prazo="ngModel" name="prazo" type="number" class="form-control form-control-lg" required minlength="1" maxlength="7"/>
                    <div *ngIf="prazo.errors && (prazo.dirty || prazo.touched)" class="alert alert-danger">
                      <div> Digite um prazo</div>
                    </div>
                  <!-- <input type="text" name="" id="prazo"> -->
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
              <button  type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
              <button (click)="salvarProduto()" [disabled]="!formProduto.form.valid" type="button" id='nv_s' class="btn btn-success" data-bs-dismiss="modal">Salvar</button>
          </div>
      </div>
  </div>
</div>
</main>
