<app-navbar-cliente></app-navbar-cliente>
<div class="row justify-content-center">
    <div class="col-md-12" name="pedido" id="pedido">
        <div class="novo_pedido">
            <div class="row">
                <div class="col-md-9">
                    <form id="form_pedido" action="">
                        <div class="row">
                            <div class="col-md-2">
                                <label for="pecas">Produto</label>
                                <select [(ngModel)]="produto"  class="form-select" name="Produto" id="pecas" >
                                    <option value="" selected disabled>Selecione um produto</option>
                                    <option *ngFor="let prod of produtos" value="{{prod.id}}" >{{ prod.nome }}</option>
                                </select>
                            </div>
                            <div class="col-md-1">
                                <label for="pecas">Quantidade</label>
                                <input  [(ngModel)]="quantidade" required id="qtd_pecas" class="form-control" name="quantidade" type="number" min="1">
                            </div>
                            <div id="btn_add" class="col-md-3">
                                <label> . </label>
                                <button [disabled]="produto == undefined" (click)="adicionarItem()" id="btn-item" class="btn btn-primary">Adicionar</button>
                            </div>
                        </div>
                        
                    </form>
                </div>  
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center mt-10px">
    <div class="col-md-12" name="orcamento" id="orcamento">
        <table class="table" id="tbl">
            <thead>
                <tr>
                    <th>Peça</th>
                    <th>Quantidade</th>
                    <th>Valor Unitário</th>
                    <th>Prazo</th>
                    <th><button class="btn btn-secondary" id="nv_orcamento" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" >Solicitar Orçamento</button> </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of orcamento.lista">
                    <td> {{item.nome}}</td>
                    <td> {{item.quantidade}} </td>
                    <td> {{item.valor_unitario}}</td>
                    <td> {{item.prazo}} Dias</td>
                    <td><button class='btn btn-danger' (click)='removeItem(item.id)'>Excluir</button></td>
                </tr>
            </tbody>
        </table>
        <p *ngIf="orcamento.lista.length === 0">Nenhum item para orçamento.</p>
    </div>
</div>

