<div class="modal-header">
    <button type="button" class="close" aria-label="Fechar" (click)="activeModal.dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="modalLabel"> Pessoa </h4>
</div>
<div class="modal-body text-center">
    <div>
        <!-- <p>Id: {{ pessoa.nome }} </p> -->
        <p>Nome: {{ produto.nome }}</p>
        <p>Preço {{ produto.valor}}</p>
        <p>Prazo {{ produto.prazo}}</p>
    </div>
</div>
<div class="modal-footer">
    <button *ngIf="acao == 'novo'" type="button" class="btn btn-outline-dark" (click)="salvar()">Salvar</button>
    <button *ngIf="acao == 'editar'" type="button" class="btn btn-outline-dark" (click)="editar()">Editar</button>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close()">Fechar</button>
</div>