body{
   background-size: cover;
}
header {
    color: rgb(255, 255, 255);
}
main {
    display: flex;
    justify-content: center;
    align-items: center;

}
.pendentes {
    background-color: rgba(245, 245, 220, 0.827);
    width: 70vw;
   height: 39vw;
   margin: 3%;
}