header{
    color: rgb(255, 255, 255);
}
main {
    display: flex;
    justify-content: center;
    align-items: center;

}

#btn_add{
    padding-top: 4px;
}



#home{
    background-color: rgba(245, 245, 220, 0.827);
    width: 90vw;
    height: 39vw;
    margin: 3%;
}
.mais img{
    width: 30px;
}

