.aberto {
    background: rgba(246, 246, 76, 0.76);
}

.recolhido {
    background: rgba(110, 109, 109, 0.623);
}

.aguardando{
    background: rgba(0, 100, 128, 0.494);
}

.pago {
    background: rgba(249, 174, 70, 0.819);
}

.finalizado {
    background: rgba(142, 244, 105, 0.838);
}

.cancelado {
    background: rgba(242, 101, 124, 0.824);
}