.divrel{
 display: flex;
 justify-content: center;
 align-items: center;
}
.table{
    width: 50%;
margin-top: 40px;
background-color: rgba(12, 106, 237, 0.423);
}
td {
    font-weight: bold;
}
td img{
    width: 35px
    
}
td button {
    border-radius: 10px;
    background-color: rgb(42, 251, 115);
    text-align: end;
    margin-right: 20px;
}
.x{
   display: flex;
   justify-content: end;
}
