<app-navbar-funcionario></app-navbar-funcionario>
<div>
    <div id="inicial_funcionario">
        <div class="container">
            <div class="table-wrap">
                <table nome="tabela_home_funcionario" class="pedidos table" id="tabela_home_funcionario">
                <thead>
                    <tr>
                        <th scope="col">Pedido</th>
                        <th scope="col">Data</th>
                        <th scope="col">Valor</th>
                        <th scope="col">Status</th>
                        <th scope="col">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let pedido of pedidos">
                        <td> {{pedido.id}}</td>
                        <td> {{pedido.data_pedido}} </td>
                        <td> {{pedido.valorTotal}}</td>
                        <td> {{pedido.prazo_final}}</td>
                        <td></td>
                    </tr>
                </tbody>
                </table>
            </div>
        </div>
    </div>
    
</div>

<!-- Modal - Detalhes de Pedido -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Detalhes do Pedido</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ... detalhes do pedido a aqui..
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar Pedido</button>
            </div>
        </div>
    </div>
</div>