<section class="vh-100" style="background-color: #237c9ffb;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
              <div class="col-md-6 col-lg-5 d-none d-md-block">
                <img src="Imagens\lavanderia.jpg"
                  alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
              </div>
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">
  
                  <form #formLogin="ngForm">
  
                    <div class="d-flex align-items-center mb-3 pb-1">
                      <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                      <span class="h1 fw-bold mb-0"></span>
                    </div>
  
                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">LOL Lavanderia On-Line</h5>
  
                    <div class="form-outline mb-4">
                      <label class="form-label" for="email">Email</label>
                      <input [(ngModel)]="email" #emailF="ngModel" name="email" type="email" id="email" class="form-control form-control-lg" required />
                      <div *ngIf="emailF.errors && (emailF.dirty || emailF.touched)" class="alert alert-danger">
                        <div> Digite um email da pessoa. </div>
                      </div>
                    </div>
  
                    <div class="form-outline mb-4">
                      <label class="form-label" for="senha">Senha</label>
                      <input [(ngModel)]="senha" #password="ngModel" name="senha" type="password" id="senha" class="form-control form-control-lg" required minlength="4" maxlength="4"/>
                      <div *ngIf="password.errors && (password.dirty || password.touched)" class="alert alert-danger">
                        <div> Digite uma senha</div>
                      </div>
                    </div>
                    <div class="pt-1 mb-4">
                      <button (click)="logar()" class="btn btn-primary" type="submit">Entrar</button>
                    </div>
                    <p class="mb-5 pb-lg-2" style="color: #000;">Não tem uma conta? <a [routerLink]="['/registrar']"
                        style="color: #000;">Registre-se</a></p>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>