<app-navbar-funcionario></app-navbar-funcionario>
<main>
    <div class="container">
      <div class="table-wrap">
        <table nome="tabelafuncionario" class="table" id="tabelafuncionario">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Nome</th>
              <th scope="col">E-mail</th>
              <th scope="col">Data Nascimento</th>
              <th scope="col">Senha</th>
              <th scope="col">Ações</th>
              <button (click)="abrirModalFuncionario()" class="btn btn-success" id="nv_funcionario" type="button">Cadastrar Funcionario</button> 
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let funcionario of funcionarios">
              <td>{{funcionario.id}}</td>
              <td>{{funcionario.nome}}</td>
              <td>{{funcionario.email}}</td>
              <td>{{funcionario.perfil}}</td>
              <td>{{funcionario.senha}}</td>
              <td>
               <button (click)="abrirModalFuncionario(funcionario)" class="btn btn-success" id="nv_funcionario" type="button">Editar</button>
               <button (click)="removerFuncionario(funcionario)" class="btn btn-danger ms-2"type="button">Remover</button> 
             </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</main>
