<app-navbar-funcionario></app-navbar-funcionario>
<div class="divrel">
    <table class="table">

      <tbody>
        <tr>
          <td>Relatório Receita</td>
          <td class="x"><button (click)="relceita_pdf()"><img src="Imagens\impressora.png"> </button></td>

        </tr>
        <tr>
          <td>Relatório de Clientes</td>
          <td class="x"><button (click)="relcliente_pdf()"> <img src="Imagens\impressora.png"> </button></td>
        </tr>
        <tr>
        <tr>
          <td>Relatório de Clientes top</td>
          <td class="x"><button (click)="reltopcliente_pdf()"> <img src="Imagens\impressora.png"> </button></td>
        </tr>
      </tbody>
    </table>
  </div>